<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305549263527-biil09rlb8bq69qrn4dk74rvevdv1pmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305549263527-biil09rlb8bq69qrn4dk74rvevdv1pmk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305549263527-6r8alvbocdr0qn9kkf6idjiucpa9dv2i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALoiHYrJ9-GRlP4qwbnnyXUek6hBCb9y4</string>
	<key>GCM_SENDER_ID</key>
	<string>305549263527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.juridentt</string>
	<key>PROJECT_ID</key>
	<string>jurident-9a928</string>
	<key>STORAGE_BUCKET</key>
	<string>jurident-9a928.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305549263527:ios:43c2a7008e5cd6f7d3d182</string>
	<key>DATABASE_URL</key>
	<string>https://jurident-9a928-default-rtdb.firebaseio.com</string>
</dict>
</plist>